## Import the dataset into the session

In [1]:
library(tidyverse)
library(magrittr)
library(DT)
library(modeldata)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Attaching package: ‘magrittr’


The following object is masked from ‘package:purrr’:

    set_names


The following object is masked from ‘package:tidyr’:

    extract

In [2]:
loan_data <- lending_club
head(loan_data)

  funded_amnt term    int_rate sub_grade addr_state verification_status
1 16100       term_36 13.99    C4        CT         Not_Verified
2 32000       term_60 11.99    C1        MN         Verified
3 10000       term_36 16.29    D1        OH         Source_Verified
4 16800       term_60 13.67    C3        NV         Verified
5  3500       term_36  7.39    A4        CA         Source_Verified
6 10000       term_36 11.47    B5        TX         Source_Verified
  annual_inc emp_length delinq_2yrs inq_last_6mths ⋯ open_il_12m open_il_24m
1  35000     emp_5      0           0              ⋯ 0           0
2  72000     emp_ge_10  0           0              ⋯ 1           3
3  72000     emp_ge_10  0           2              ⋯ 2           3
4 101000     emp_lt_1   0           0              ⋯ 1           2
5  50100     emp_unk    0           0              ⋯ 0           0
6  32000     emp_lt_1   0           0              ⋯ 0           0
  total_bal_il all_util inq_fi inq_last_12m delinq_amnt num_il_tl
1  1099        48       0      3            0            3
2 49187        77       0      0            0            9
3 33378        79       1      4            0            9
4 55445        64       1      4            0           10
5     0        78       0      0            0            3
6  7574        66       0      0            0            9
  total_il_high_credit_limit Class
1 13193                      good
2 65945                      good
3 39387                      good
4 60188                      good
5     0                      good
6 12131                      good

## Make a select operation of columns

In [3]:
loan_data %>% 
select(funded_amnt, term, int_rate, Class) %>%
head

  funded_amnt term    int_rate Class
1 16100       term_36 13.99    good
2 32000       term_60 11.99    good
3 10000       term_36 16.29    good
4 16800       term_60 13.67    good
5  3500       term_36  7.39    good
6 10000       term_36 11.47    good

## Make a filter operation of rows

In [4]:
loan_data %>%
filter( (int_rate > 5) & (funded_amnt > 10000) & (verification_status == "Verified") ) %>%
head

  funded_amnt term    int_rate sub_grade addr_state verification_status
1 32000       term_60 11.99    C1        MN         Verified
2 16800       term_60 13.67    C3        NV         Verified
3 15000       term_60 15.77    D1        TX         Verified
4 20000       term_36 10.75    B4        TN         Verified
5 16200       term_36 16.29    D1        MS         Verified
6 20000       term_36 11.99    C1        VA         Verified
  annual_inc emp_length delinq_2yrs inq_last_6mths ⋯ open_il_12m open_il_24m
1  72000     emp_ge_10  0           0              ⋯ 1           3
2 101000     emp_lt_1   0           0              ⋯ 1           2
3  65000     emp_6      0           1              ⋯ 4           6
4  75000     emp_lt_1   0           0              ⋯ 0           1
5  36000     emp_2      1           2              ⋯ 1           3
6  65000     emp_ge_10  0           2              ⋯ 2           2
  total_bal_il all_util inq_fi inq_last_12m delinq_amnt num_il_tl
1 49187        77       0      0            0            9
2 55445        64       1      4            0           10
3 29045        81       7      5            0            9
4 55392        79       0      0            0            4
5 31663        58       0      2            0           11
6 55944        85       2      6            0           15
  total_il_high_credit_limit Class
1 65945                      good
2 60188                      good
3 34381                      good
4 67283                      good
5 41048                      good
6 64016                      good

## Make a mutate operation to create a new column

In [5]:
loan_data %<>%
mutate(total_amnt = (funded_amnt)*(1+int_rate))

head(loan_data)

  funded_amnt term    int_rate sub_grade addr_state verification_status
1 16100       term_36 13.99    C4        CT         Not_Verified
2 32000       term_60 11.99    C1        MN         Verified
3 10000       term_36 16.29    D1        OH         Source_Verified
4 16800       term_60 13.67    C3        NV         Verified
5  3500       term_36  7.39    A4        CA         Source_Verified
6 10000       term_36 11.47    B5        TX         Source_Verified
  annual_inc emp_length delinq_2yrs inq_last_6mths ⋯ open_il_24m total_bal_il
1  35000     emp_5      0           0              ⋯ 0            1099
2  72000     emp_ge_10  0           0              ⋯ 3           49187
3  72000     emp_ge_10  0           2              ⋯ 3           33378
4 101000     emp_lt_1   0           0              ⋯ 2           55445
5  50100     emp_unk    0           0              ⋯ 0               0
6  32000     emp_lt_1   0           0              ⋯ 0            7574
  all_util inq_fi inq_last_12m delinq_amnt num_il_tl total_il_high_credit_limit
1 48       0      3            0            3        13193
2 77       0      0            0            9        65945
3 79       1      4            0            9        39387
4 64       1      4            0           10        60188
5 78       0      0            0            3            0
6 66       0      0            0            9        12131
  Class total_amnt
1 good  241339
2 good  415680
3 good  172900
4 good  246456
5 good   29365
6 good  124700

## Make a group_by and summarize operation

In [6]:
loan_data %>%
group_by(Class) %>%
summarise(mean_amount = mean(total_amnt, na.rm = T),
          mean_int_rate = mean(int_rate, na.rm = T))

  Class mean_amount mean_int_rate
1 bad   301750.5    16.74166
2 good  212427.7    12.29322

## Make a pivot_wider operation

In [7]:
loan_at <- loan_data %>%
group_by(emp_length) %>%
summarise(max_fund = max(funded_amnt, na.rm = T),
          min_fund = min(funded_amnt, na.rm = T),
          av_fund = mean(funded_amnt, na.rm = T))

head(loan_at)

  emp_length max_fund min_fund av_fund
1 emp_lt_1   40000    1000     15169.95
2 emp_1      40000    1000     14906.97
3 emp_ge_10  40000    1000     17028.11
4 emp_2      40000    1000     14952.10
5 emp_3      40000    1000     15170.94
6 emp_4      35000    1000     15013.93

In [8]:
loan_at_wide <- loan_at %>%
  pivot_wider(names_from = emp_length,
              values_from = c(max_fund, min_fund, av_fund))

head(loan_at_wide)

  max_fund_emp_lt_1 max_fund_emp_1 max_fund_emp_ge_10 max_fund_emp_2
1 40000             40000          40000              40000
  max_fund_emp_3 max_fund_emp_4 max_fund_emp_5 max_fund_emp_6 max_fund_emp_7
1 40000          35000          40000          40000          35000
  max_fund_emp_8 ⋯ av_fund_emp_ge_10 av_fund_emp_2 av_fund_emp_3 av_fund_emp_4
1 40000          ⋯ 17028.11          14952.1       15170.94      15013.93
  av_fund_emp_5 av_fund_emp_6 av_fund_emp_7 av_fund_emp_8 av_fund_emp_9
1 15268.58      16410.71      15728.37      15376.22      15241.11
  av_fund_emp_unk
1 12424.11

## Make a pivot_longer operation

In [9]:
loan_at_long <- loan_at %>%
  pivot_longer(cols = starts_with("av_") | starts_with("max_") | starts_with("min_"),
               names_to = c(".value", "stat"),
               names_sep = "_")

head(loan_at_long)

  emp_length stat av       max   min
1 emp_lt_1   fund 15169.95 40000 1000
2 emp_1      fund 14906.97 40000 1000
3 emp_ge_10  fund 17028.11 40000 1000
4 emp_2      fund 14952.10 40000 1000
5 emp_3      fund 15170.94 40000 1000
6 emp_4      fund 15013.93 35000 1000

## Make a left_join operation with another table with common columns (you can create a new table out of the original one for this purpose, if you don't have a second table)

In [10]:
other_table <- data.frame(
  emp_length = sample(c("emp_5", "emp_ge_10", "emp_lt_1"), 5, replace = TRUE),
  some_other_data = runif(5)
)

joined_table <- loan_data %>%
  left_join(other_table, by = "emp_length")

head(joined_table)

Warning message in left_join(., other_table, by = "emp_length"):
“Detected an unexpected many-to-many relationship between `x` and `y`.
ℹ Row 2 of `x` matches multiple rows in `y`.
ℹ Row 1 of `y` matches multiple rows in `x`.
ℹ If a many-to-many relationship is expected, set `relationship =
  "many-to-many"` to silence this warning.”

  funded_amnt term    int_rate sub_grade addr_state verification_status
1 16100       term_36 13.99    C4        CT         Not_Verified
2 32000       term_60 11.99    C1        MN         Verified
3 32000       term_60 11.99    C1        MN         Verified
4 32000       term_60 11.99    C1        MN         Verified
5 10000       term_36 16.29    D1        OH         Source_Verified
6 10000       term_36 16.29    D1        OH         Source_Verified
  annual_inc emp_length delinq_2yrs inq_last_6mths ⋯ total_bal_il all_util
1 35000      emp_5      0           0              ⋯  1099        48
2 72000      emp_ge_10  0           0              ⋯ 49187        77
3 72000      emp_ge_10  0           0              ⋯ 49187        77
4 72000      emp_ge_10  0           0              ⋯ 49187        77
5 72000      emp_ge_10  0           2              ⋯ 33378        79
6 72000      emp_ge_10  0           2              ⋯ 33378        79
  inq_fi inq_last_12m delinq_amnt num_il_tl total_il_high_credit_limit Class
1 0      3            0           3         13193                      good
2 0      0            0           9         65945                      good
3 0      0            0           9         65945                      good
4 0      0            0           9         65945                      good
5 1      4            0           9         39387                      good
6 1      4            0           9         39387                      good
  total_amnt some_other_data
1 241339     0.36286283
2 415680     0.97951951
3 415680     0.11982051
4 415680     0.05071552
5 172900     0.97951951
6 172900     0.11982051